# Bu dosyayi kopyalayip ".env" adiyla kaydet.
#
# Expo yalnizca "EXPO_PUBLIC_" onekli degiskenleri istemci koduna
# gomer. Deger derleme sirasinda gomulur; degistirirsen gelistirme
# sunucusunu yeniden baslat.
#
# Backend'in gercek portu launchSettings.json'da: 5165
#
# Hangi adresi yazacagin CALISTIRDIGIN YERE gore degisir:
#   iOS simulatoru / web  -> http://localhost:5165
#   Android emulatoru     -> http://10.0.2.2:5165
#   Gercek telefon        -> http://<makinenin-yerel-IP'si>:5165
#                            (orn. http://192.168.1.20:5165)
#
# Bos birakirsan platforma gore makul bir varsayilan kullanilir.
# EXPO_PUBLIC_API_URL=http://localhost:5165
